@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.encabezado {
    background-color: rgb(59, 17, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: "Press Start 2P", system-ui;
    font-size: 30px;
    color: #F9F9F9;
    padding: 10px 0px;

}
.encabezado  img {
    width: auto;
    height: 100px;
    
}
.logo {
    background-image: url(../img/LEGO.png);
}

.container__general{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: start;
    gap: 50px;
}

.buscar__input {
    width: 260px;
    height: 32px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    font-family: "Press Start 2P", system-ui;
    padding: 3px 8px;
    border: 1px solid rgvarb(211, 211, 211);
    color:#0d2747;

}

.buscar__boton {
    background-image: url(../img/encabezado/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    background-color: #F9F9F9;
    border-left: none;
    padding: 15px 15px;
    cursor: pointer;
}

.encabezado__buscar {
    display: flex;
}

.footer {
    background-color:rgb(59, 17, 116);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    font-family: "Press Start 2P", system-ui;
  }
  
  .footer__content p {
    margin: 5px 0;
  }
  
  .footer__content a {
    color: #141111;
    text-decoration: none;
  }
  
  .footer__content a:hover {
    text-decoration: underline;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); /* Ajusta el valor según la altura del header y footer */
    text-align: center;
  }
  
  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main__content img {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    margin-bottom: 20px;
  }
  
  .main__content h3 {
    font-size: 1.5em;
    color: #333;
  }

@media (max-width: 768px) {
    .container__general{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .encabezado{
        gap: 10px;
    }
    .encabezado  img {
        width: auto;
        height: 50px; 
    }
}